{% extends "base.html" %}
{% block title %}Талапкер — Главная{% endblock %}
{% block content %}
<section class="hero">
  <div class="container hero-inner">
    <h1>ИИ-консультант для абитуриентов</h1>
    <p>С помощью "Талапкер" вы легрко узнаете всё о поступлении и подаче документов</p>
    <!-- ссылка на id="chat-section" -->
    <a class="btn orange" href="#chat-section">Узнать больше</a>
  </div>
</section>

<!-- Чат-бот -->
<section id="chat-section" class="section container">
  <h2>Чат с консультантом</h2>
  <div id="chat-box" class="chat-box">
    <div class="messages" id="messages">
      <div class="message bot">Здравствуйте! Я помогу вам разобраться с поступлением. Задайте ваш вопрос 👇</div>
    </div>
    <form id="chat-form" class="chat-form">
      <input type="text" id="user-input" placeholder="Введите ваш вопрос..." required>
      <button type="submit">Отправить</button>
    </form>
  </div>
</section>
{% endblock %}
